doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/styles.css', type="text/css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;0,900;1,200&display=swap' rel='stylesheet')
    title API
.row
    .column.left
        .vertcenter
            h1.docs Docs
            select#schemasetc(size='4')
                option.item(value='users' selected='') User
                option.item(value='clubs') Club
                option.item(value='posts') Post
                option.item(value='errors') Errors
    .column.right
        #users.inside.vis
            h1 PATH: /api/users
            br
            ul
                li
                    h3.get.inline GET
                    h3.inline.path :nick
                    .description
                        h3
                            span.blackout Requires
                            |  nick
                        h3
                            span.blackout Returns
                            |  nick, first_name, lsat_name, last_entered
                li
                    h3.post.inline POST
                    h3.inline.path :nick
                    .description
                        h3
                            span.blackout Requires
                            |  nick, email, password, first_name, last_name,date_of_birth, profile_pic, preferences,
                            br
                            | last_entered?, amount_of_subscriptions?, subscriptions?
                        h3
                            span.blackout Returns
                            |  Success
                li
                    h3.put.inline UPDATE
                    h3.inline.path :nick
                    .description
                        h3
                            span.blackout Requires
                            |  nick, first_name?, last_name?, profile_pic?, last_entered?
                        h3
                            span.blackout Returns
                            |  Success
                li
                    h3.delete.inline DELETE
                    h3.inline.path :nick
                    .description
                        h3
                            span.blackout Requires
                            |  nick, password
                        h3
                            span.blackout Returns
                            |  Success
                br
                li
                    h3.post.inline POST
                    h3.inline.path sign_in
                    .description
                        h3
                            span.blackout Requires
                            |  nick, password
                        h3
                            span.blackout Returns
                            |  Success
                li
                    h3.post.inline POST
                    h3.inline.path sign_in
                    .description
                        h3
                            span.blackout Requires
                        h3
                            span.blackout Returns
                            |  Success
        #clubs.inside.inv
            h1 CLUBS TO BE IMPLEMENTED
        #posts.inside.inv
            h1 POSTS TO BE IMPLEMENTED
        #errors.inside.inv
            ul
                li
                    h3.inline.code 200
                    h3.inline Success - Everything went well
                li
                    h3.inline.code 700
                    h3.inline Not all fields - Some required fields are not sent
                li
                    h3.inline.code 701
                    h3.inline.path Not Authorized - Cannot fulfill the request due to lack rights
                li
                    h3.inline.code 702
                    h3.inline.path Not Found - The request&apos;s data was not found
                li
                    h3.inline.code 703
                    h3.inline.path User Already Exists - Cannot create user, because he already exists
                li
                    h3.inline.code 704
                    h3.inline.path Wrong Password - I believe, speaks for itself:)
                li
                    h3.inline.code 750
                    h3.inline.path Custom Error - Error not from my part
script(src='/javascripts/index.js')
