extends layout
block content
    h1 Documentation
    h4 This is a page for admins only, so if you are one, please enter the passcode, otherwise fuck off;)
    form(action='' method='POST')
        input(type='text' name='nickname' placeholder='nickname')
        input(type='password' name='password' placeholder='password')
        input(type='submit')